@use "../../Assets/styles/variables" as *;

@media screen and (min-width: 320px) {
    .project {
        width: 280;
        border: 1px solid $primary-color;
        margin: 10px;

        &__title {
            font-family: "Alumni Sans Pinstripe", sans-serif;
            font-size: 20px;
            font-weight: 900;
            color:$primary-color;
            letter-spacing: 6px;
            margin: unset;
            color: $secondary-color;
        }

        &__tech {
            background-color: $primary-color;
            text-align: center;
            color:$secondary-color;
            font-family: "Quicksand", sans-serif;
            font-size: 9.5 px;
            font-weight: lighter;
            letter-spacing: 1px;
            padding: 10px 1PX;
            width: 100%;
        }

        &__img {
            height: 200px;
            width: 290px;
            align-self: center;
            filter: grayscale(40%);
        }

        &__link {
            background-color: $primary-color;
            margin-left: 10px;
            display: flex;
            align-items: center;
        }

        .code,
        .eye {
            color: $secondary-color;
            padding: 5px;
            width: 20px;
            height: 20px;
        }

        .project__card {
            width: 290px;
            height: 310px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: rgba(255, 255, 255, 0.813);
            padding: 20px;
            margin: 10px;
            background-color: $gray-light-color;

            #cardId {
                display: none;
            }

            &--container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 5px;
            }

            &--links {
                display: flex;
                align-items: center;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .project {
        padding: 10px;

        &__title {
            font-size: 25px;
            margin: 5px;
        }

        &__tech {
            font-size: 10px;
        }

        &__img {
            height: 220px;
        }

    }

    .project__card {
        width: 310px;
        height: 320px;
    }
}
