@use '../../Assets/styles/variables' as *;

@media screen and (min-width: 320px){
    .wholepage {
        padding: 50px 0;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__frame {
            border: 1px solid black;
            width: 270px;
            height: 350px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__introduction {
            padding: 0 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 230px;
            height: 310px;
            background-color: $gray-light-color;
        }

        &__title {
            font-family: "Dorsa", sans-serif;
            font-size: 44px;
            font-weight:900;
            color:$secondary-color;
            letter-spacing: 6px;
            margin:unset;
        }

        &__subtitle {
            color: $primary-color;
            font-family: "Alumni Sans Pinstripe", sans-serif;
            font-size: 18px;
            letter-spacing: 1px;
            font-weight:bolder;
            margin:unset;
        }

        &__shortDescription{
            color:$primary-color;
            font-family: "Alumni Sans Pinstripe", sans-serif;
            font-size: 16px;
            font-weight:bolder;

            margin:unset;
        }

        .passionate {
            background-color: $bordo-color;
            padding: 1px;
            color: $secondary-color;
        }

        .creative {
            background-color: $yellow-color;
            font-family: "Allison", cursive;
            padding: 1px;
            padding-bottom: 2px;
            margin: 5px;
            letter-spacing: 2px;
        }

            .commitment{
                background-color: $green-color;
                padding: 4px;
                font-weight: bolder;
                margin: 5px;
                font-family: "Dorsa", sans-serif;
                letter-spacing: 2px;
            }

        .freshIdeas{
            background-color: $paleBlue-color;
            font-family: "Allison", cursive;
            color: $secondary-color;
            margin: 5px;
            padding: 2px;
            letter-spacing: 2px;
        }

        &__skills {
            margin-top: 20px;
            letter-spacing: 6px;
            font-size: 16px;
            border: 1px solid $primary-color;
            font-family: "Dorsa", sans-serif;
            font-weight: bolder;
            display: flex;
            flex-direction: column;
            padding: 5px;
            width: 270px;
            height: 120px;
            justify-content: space-evenly;
            align-items: center;
            box-shadow: 10px 10px 10px $gray-light-color;
            padding: 0 15px;

            &--icons {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }

        img {
            width: 22px;
            padding-bottom: 20px;
        }
    }
}

@media screen and (min-width: 768px){
    .wholepage {
        padding: 30px 0;
    }

    .home {

        &__frame {
            width: 410px;
            height: 510px;
        }

        &__introduction {
            width: 330px;
            height: 430px;
            padding: 15px;
        }

        &__title {
            font-size: 60px;
            font-weight:900;
        }

        &__subtitle {
            font-size: 20px;
            letter-spacing: 1px;
        }

        &__shortDescription{
            font-size: 20px;
        }

        .creative {
            padding: 2px;
            padding-bottom: 4px;
            margin: 5px;
            letter-spacing: 2px;
        }

        .freshIdeas{
            margin: 5px;
            padding: 5px;
        }

        &__skills {
            font-size: 26px;
            padding: 10px;
            width: 600px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &--title{
                margin: unset;
                margin-top: 25px;
                font-size: 25px;
            }

            &--icons {
                display: flex;
                justify-content: space-between;
                width: 80%;
            }
        }

        img {
            width: 34px;
            padding-bottom: 30px;
        }
    }
}

@media screen and (min-width: 1440px){

    .wholepage {
        padding: 10px 0;
    }

    .home {

        &__frame {
            width: 450px;
            height: 550px;
        }

        &__introduction {
            width: 350px;
            height: 450px;
            padding: 25px;
            margin: 20px;
        }

        &__title {
            font-size: 80px;
            font-weight:900;
        }

        &__subtitle {
            font-size: 25px;
            letter-spacing: 1px;
        }

        &__shortDescription{
            font-size: 25px;
        }

        .passionate {
            background-color: #7f3b30;
            padding: 1px;
            color:$secondary-color;
        }

        .creative {
            padding: 2px;
            padding-bottom: 4px;
            margin: 5px;
        }

        &__skills {
            margin-top: 20px;
            letter-spacing: 6px;
            font-size: 20px;
            display: flex!important;
            align-items: center;
            padding: 10px;
            width: 700px;

            &--icons {
                display: flex;
                justify-content: space-between;
                width: 70%;
            }
        }

        img {
            width: 35px;
        }
    }
}