@use '../../Assets/styles/variables' as *;

.sideBar {
    position: fixed; /* Use fixed position */
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the end (right) */
    width: 100%;
    padding: 20px;

    button {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    letter-spacing: 6px;
    border: none;
    background-color: unset;
    font-size: 16px;
    margin: 10px;
    }

}   