#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  background: url('./Assets/images/background/watercolor-5472577_1280.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 70% auto;
  filter: grayscale(100%);
  z-index: -1;
  opacity: 0.4; 

}

#root {
  padding: 2rem;
  text-align: center;
  z-index: 1;
}
