
$primary-color:  black;
$secondary-color: white;
$gray-color: rgb(107, 107, 107);
$gray-light-color:#909090;
$gray-dark-color:#9090904f;
$gray-medium-color:#cfd1d2;
$sand-color: #e6d5ba;
$beige-color: #ededed;
$green-color: #b3b6a2;
$palePink-color: #eee7e1;
$paleBlue-color: #4e8cd8;
$bordo-color: #7f3b30;
$yellow-color: rgb(220, 220, 139);
