
$font-text:'Inter', sans-serif;
$font-title:'Cormorant', serif;
$primary-color:  black;
$secondary-color: black;
$background-color: #fff;
$gray-color: rgb(107, 107, 107);
$gray-light-color:#909090;
$gray-light-color:#cfd1d2;
$sand-color: #e6d5ba;
$beige-color: #ededed;
$palePink-color: #eee7e1;
$background-image: url("https://5.imimg.com/data5/SELLER/Default/2023/3/292230621/DO/XO/PM/96815489/sky-onyx-pearl-polished-tiles-1000x1000.jpg");
