@media screen and (min-width: 320px) and (max-width: 425px) {
    .portfolioProjects__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 300px;
    }
}